Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.

In [ ]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple =  tuple(list)
print('List : ',list) 
print('Tuple : ',tuple)

Input some comma seprated numbers : 3

TypeError: ignored

Write a Python program to display the first and last colors from the following list.

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print("First and Last color_list", color_list[0],color_list[-1])

First and Last color_list Red Black

Write a Python program to count the number 4 in a given list.

In [ ]:
list=[1,2,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4]
count=0
for i in list:
  if i==3:
    count+=1
print(count)

6

Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20.

In [ ]:
def sum(x, y):
    sum = x + y
    if sum in range(15, 20):
        return 20
    else:
        return sum

print(sum(10, 6))
print(sum(10, 2))
print(sum(10, 12))

20
12
22

Write a Python program to compute the distance between the points (x1, y1) and (x2, y2).

In [ ]:
import math
p1 = [4, 0]
p2 = [6, 6]
distance = math.sqrt( ((p1[0]-p2[0])**2)+((p1[1]-p2[1])**2) )

print(distance)

6.324555320336759

Write a Python program to sum of the first n positive integers.

In [ ]:
n=int(input())
sum=(n*(n+1))/2
print("Sum of first n numbers",sum)

5
Sum of first n numbers 15.0

Write a Python program to calculate sum of digits of a number.

In [ ]:
n=int(input())
x=n//1000
x1=(n-x*1000)//100
x2=(n-x*1000-x1*100)//10
x3=(n-x*1000-x1*100-x2*10)
print("Sum of digit of four digits number",x+x1+x2+x3)

5676
Sum of digit of four digits number 24

Write a Python program to count the number of occurrence of a specific character in a string.

In [ ]:
s = "The quick brown fox jumps over the lazy dog."  
print("Original string:")
print(s)
print("Number of occurrence of 'o' in the said string:")
print(s.count("o"))

Original string:
The quick brown fox jumps over the lazy dog.
Number of occurrence of 'o' in the said string:
4

Write a Python program to filter the positive numbers from a list.

In [ ]:
# Python program to print positive Numbers in a List

# list of numbers
l1 = [-10, 21, 4, -45, -66, 93, -11]
num=[]
for i in l1:
  if i>0:
    num.append(i)
    i+=1
print(num)

[21, 4, 93]

Write a Python function to find the maximum and minimum numbers from a sequence of numbers.
Note: Do not use built-in functions.

In [ ]:
data=[0,-1,2,2,2,3,4,5,5,65,6,-99]
l = data[0]
s = data[0]
for num in data:
  if num> l:
    l = num
  elif num< s:
       s = num
print(l,s)

65 -99

In [ ]:
def count_Primes_nums(n):
    ctr = 0
    
    for num in range(n):
        if num <= 1:
            continue
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            ctr += 1

    return ctr

print(count_Primes_nums(10))
print(count_Primes_nums(100))

4
25

Python: Check whether a given integer is a palindrome or not

In [ ]:
def is_Palindrome(n):
    return str(n) == str(n)[::-1]
print(is_Palindrome(100))
print(is_Palindrome(252))
print(is_Palindrome(-838))

False
True
False

Python: Calculate the length of a string

In [ ]:
s="sksjskjskjsj"
count=0
for i in s:
  count+=1
print(count)

12

Python: Count the number of characters (character frequency) in a string

In [ ]:
s="sandeepamardeepanchalrameshgaytri"
dict={}
for i in s:
 keys=dict.keys()
 if i in keys:
   dict[i]+=1
 else:
   dict[i]=1
print(dict)

{'s': 2, 'a': 7, 'n': 2, 'd': 2, 'e': 5, 'p': 2, 'm': 2, 'r': 3, 'c': 1, 'h': 2, 'l': 1, 'g': 1, 'y': 1, 't': 1, 'i': 1}

Python: Takes a list of words and returns the length of the longest one

In [ ]:
Word_list=["PHP", "Exercises", "Backend"]
Word_lengh=[]
for n in Word_list:
  Word_lengh.append((len(n),n))
Word_lengh.sort()
print(Word_lengh[-1][0],Word_lengh[-1][1])

9 Exercises

Python: Count the occurrences of each word in a given sentence

In [ ]:
Sentence='the quick brown fox jumps over the lazy dog.'
dict={}
new_sentence=Sentence.split()
for i in new_sentence:
  keys=dict.keys()
  if i in keys:
    dict[i]+=1
  else:
    dict[i]=1
print(dict)

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

Python: Convert a given string into a list of words

In [ ]:
str1 = "The quick brown fox jumps over the lazy dog."
print(str1.split(' '))

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog.']

Python: Count and display the vowels of a given text

In [ ]:
text='w3resource'
vowels = "aeiuoAEIOU"
print(len([letter for letter in text if letter in vowels]))
print([letter for letter in text if letter in vowels])

4
['e', 'o', 'u', 'e']

Python: Count number of lists in a given list of lists

In [ ]:
list1 = [[1, 3], [5, 7], [9, 11], [13, 15, 17]] 
print("Number of list presents :")
print(len(list1))

Number of list presents :
4

Python: Find the list with maximum and minimum length

In [ ]:
list1 = [[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]
for x in list1:
  
  min_of_list=min(list1)
  length_of_minlist=len(min_of_list)
 
  max_of_list=max(list1)
  length_of_maxlist=len(max_of_list)

print(length_of_minlist,min_of_list,length_of_maxlist,max_of_list)

1 [0] 3 [13, 15, 17]

Python: Count the number of sublists contain a particular element

In [ ]:
list1 = [[1, 3], [5, 7,7], [1, 11], [1, 15, 7]] 
count=0
for i in range(len(list1)): 
  if 7 in list1[i]: 
    count+=1
print(count)

2

Python: Sort each sublist of strings in a given list of lists|

In [ ]:
list1 = [[1, 3], [5, 7,7], [1, 11], [1, 15, 7]] 
sort=list(map(sorted,list1))
print(sort)

[[1, 3], [5, 7, 7], [1, 11], [1, 7, 15]]

Python: Remove sublists from a given list of lists, which are outside a given range

In [ ]:
list1 = [[1, 3], [5, 7,7], [1, 11], [1, 15, 7]]
left_range=10
right_range=17

result = [i for i in list1 if (min(i)>=left_range and max(i)<=right_range)]
print(result)

[]